@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* base styles */
body {
  background: linear-gradient(to right, antiquewhite, silver);
  font-family: 'Roboto';
  color: #444;
  max-width: 960px;
  margin: 40px auto;
  padding: 10px;
}
nav {
  display: flex;
  justify-content: space-between;
}
nav h1 {
  margin: 0;
  font-weight: bolder;
}
nav a {
  color: white;
  text-decoration: none;
  background: rgb(80, 80, 231);
  padding: 10px;
  border-radius: 10px;
}
form {
  max-width: 500px;
}
input, textarea {
  display: block;
  margin: 16px 0;
  padding: 6px 10px;
  width: 100%;
  border: 1px solid #ddd;
  font-family: 'Roboto';
}
textarea {
  min-height:200px;
}

/* post list */
.post {
  padding: 16px;
  background: silver;
  border-radius: 10px;
  margin: 20px 0;
  color: black;
}
.post h2 {
  margin: 0;
}
.post p {
  margin-top: 0;
}
.post a {
  color: black;
}

.container {
  display: flex;
  gap: 2rem;
}

.newarrivals,
.instock {
  border: 1px solid silver;
  border-radius: 6px;
}

.instock{
  background: none;
}

.instock > img {
  height: 150px;
  width: 200px;
  padding: 0.5rem;
  border-radius: 10px;
}

.material-symbols-outlined:hover{
  color: red;
}

.material-symbols-outlined{
font-size: 30px;
color: black;
}
